In [13]:
alunos_aprov = []
alunos_reprov= []
cont = "s"

while cont != "n":
  nome = str(input("Nome do aluno: "))
  nota1 = float(input("Nota 1: "))
  nota2 = float(input("Nota 2: "))
  media = (nota1 + nota2)/2
  nome_media = nome + ': ' +str(media)
  if media > 7:
    alunos_aprov.append(nome_media)
  else:
    alunos_reprov.append(nome_media)
  cont = input("Cadastrar novo aluno? tecle s para Sim / n para Não >>  ")

print('Alunos aprovados', alunos_aprov)
print('Alunos reprovados', alunos_reprov)

Nome do aluno: Carolina
Nota 1: 9
Nota 2: 8
Cadastrar novo aluno? tecle s para Sim / n para Não >>  s
Nome do aluno: João
Nota 1: 3
Nota 2: 4
Cadastrar novo aluno? tecle s para Sim / n para Não >>  s
Nome do aluno: Maria
Nota 1: 8
Nota 2: 6
Cadastrar novo aluno? tecle s para Sim / n para Não >>  s
Nome do aluno: Jose
Nota 1: 1
Nota 2: 0
Cadastrar novo aluno? tecle s para Sim / n para Não >>  n
Alunos aprovados ['Carolina: 8.5']
Alunos reprovados ['João: 3.5', 'Maria: 7.0', 'Jose: 0.5']